include AUTHORS
include README.rst
include LICENSE
recursive-include docs *
recursive-include coffelli/static *
recursive-include coffelli/templates *
recursive-include coffelli/dashboard/templates *
